@{
    ViewData["Title"] = "Nosotros";
}

<h1>@ViewData["Title"]</h1>

<p>En Barbería, combinamos la tradición y la modernidad para ofrecerte una experiencia única. Nuestro equipo de barberos expertos se dedica a brindarte cortes de cabello y afeitados de alta calidad en un ambiente acogedor y relajante. Utilizamos productos premium y técnicas innovadoras para que salgas sintiéndote y viéndote mejor que nunca. Ven y descubre la diferencia en Barbería.</p>

<div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3360.272593775937!2d-115.37920728527796!3d32.625563481018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d773e2203385c1%3A0x964adac652c8fcc0!2sUniversidad%20Polit%C3%A9cnica%20De%20Baja%20California!5e0!3m2!1ses-419!2sbg!4v1584044980395!5m2!1ses-419!2sbg " width="100% " height="450 " frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
  </div>
<br>

<p style="text-align: center;">Contáctanos al <a href="tel:+6863350291" style="font-size: 20px; font-weight: bold; text-decoration: underline;">+52 686 335 0291</a></p>

<div style="text-align: center; margin: 20px 0;">
    <a href="https://wa.me/6863350291" target="_blank">
        <img src="~/images/wa.png" alt="WhatsApp" style="width:70px; height:70px;">
    </a>
</div>

<div class="social-icons" style="text-align: center;">
    <a href="https://facebook.com/tuPagina" target="_blank" style="margin: 0 10px;">
        <img src="~/images/f.png" alt="Facebook" style="width:70px; height:70px;">
    </a>
    <a href="https://instagram.com/tuPagina" target="_blank" style="margin: 0 10px;">
        <img src="~/images/i.png" alt="Instagram" style="width:70px; height:70px;">
    </a>
    <a href="https://twitter.com/tuPagina" target="_blank" style="margin: 0 10px;">
        <img src="~/images/t.png" alt="Twitter" style="width:70px; height:70px;">
    </a>
</div>


<style>
    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>
